*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}

h1{
    margin-left:0;
    margin-right:0;
    text-align: center;
}

.row{
    background-color:blanchedalmond;
    display:block;
  }

/*.column {
    background-color:blanchedalmond;
    float: left;
    width: 33.33%;
    text-align: center;
    position:relative;
  }*/
  
.column{
    width:300px;
    margin: 100px 50px 100px 50px;
    margin-top:5px;
    margin-left:10px;
    margin-right:10px;
    padding: 30px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: blanchedalmond;
    text-align: center;
}

.flex-area{
    display:flex;
    flex-direction:row;
    justify-content:center;
    }

