*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro img{
    width:100%;
}

header{
    position: relative;
    left:0;
    top:0;
    width:1005;
    height:80px;
}

header h4{
    position:absolute;
    left:10%;
    bottom:1rem;
    font-size:1.6rem;
    font-family: "doublebass", sans-serif;
font-weight: 700;
font-style: normal;
}

/*splash screen*/
.intro{
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background-color: #DFAB26;
    transition:1s;

}

.logo-header{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
}

.logo{
    position:relative;
    display:inline-block;
    bottom:-20px;
    opacity:0;
}

.logo.active{
    bottom:0;
    opacity:1;
    transition:ease-in-out 0.5s;
}
.logo.fade{
    bottom:150px;
    opacity:0;
    transition:ease-in-out 0.5s;
}

header{
    align-items: center;
    justify-content: center;
}

.navbar {
    overflow: hidden;
    background-color:#DFAB26;
    font-family: "doublebass", sans-serif;
    align-items: center;
    text-align: center;
    justify-content: baseline;
  }
.nav-image img{
    width:10%;
    overflow: hidden;
    margin-top:-20px;
    margin-bottom:-30px;
}

  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 20px;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
   
  }

  .navbar ul{
    list-style-type:none;
  }

  .nav-nonbut{
    margin:10px;
    transition:.2s;
    border-radius: 20px;
  }
  .nav-nonbut:hover{
    background-color:#edbf48;
    color:black;
    
  }
 
  .nav-image a:hover{
    background-color:#DFAB26;
  }


 
  /* CSS */
  .button-35 {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    justify-content: center;
    line-height: 1;
    margin: 10px;
    margin-bottom:15px;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  }
  
  .button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }

.img-fluid:hover{
  /*want to make it so the logo changes color on hover*/
}

.welcome{
  background-color:beige;
  height:100vh;
}

/*AUDIO*/

  
